%br
%br

.row
  .col-md-1
  .col-md-10.well.results-well
    %h1.results-page-header.text-center
      = @drug.name.upcase
      %br
      %br
      = gluten_free_or_not_message(@drug)

    %br

    .text-center
      = additional_info_or_search_again_button(@drug)

    %br
    %br
    %br

    %p.text-center.log-in-or-create-account
      Want to save your searches?
      %br
      = link_to "Log in", "/"
      or
      = link_to "create an account", "/"
  .col-md-1
