%ul.nav.nav-pills
  %li
    = link_to "Search Prescriptions", "/"
  %li
    = link_to "About Gluscription", "/about"
  %li
    = link_to "Log in with Facebook", "/auth/facebook"
  %li
    = link_to "Log Out", "/"
  %li
    = link_to "My Searches", "/"
